/* ///////////Imports//////// */

@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&display=swap");

.logo {
  position: relative;
  top: -0.3rem;
  margin-right: 0.1rem;
}

.login-btn {
  color: white;
  font-size: 1.1rem;
  margin-right: 1rem;
}

.banner {
  position: relative;
  top: -0.1rem;
  border-bottom: 10px solid tan;
  min-height: 40vh;
  object-fit: cover;
}
.navbar-brand {
  font-size: 2rem !important;
  font-family: courgette, sans-serif;
  font-weight: 700 !important;
  margin-left: 1.5rem;
  color: white !important;
}

.nav-container {
  background-color: tan;
}

.banner-quote {
  font-size: 2rem;
  color: white;
  position: relative;
  top: -33vh;
  font-family: cursive;
  margin-left: .6rem;
}

.quote-author{
  font-size: 1.2rem;
  color: tan;
  margin-left: 10%;
}

.banner-quote .emphasize1 {
  font-size: 3.2rem;
  margin-right: 1rem;
  color: tan;
}

.banner-quote .emphasize2 {
  font-size: 2.7rem !important;
  color: tan;
  
}

@media(min-width:670px){
  .banner-quote{
    max-width: 40vw;
  }
  .banner{
    min-height: 50vh;
  }

  .banner-quote{
    top: -43vh;
  }
}
