/* ///////////Imports//////// */

@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&display=swap");

.image-fit{
  object-fit: contain;
}
/* /////////////////////// */


.logo {
  position: relative;
  top: -0.3rem;
  margin-right: 0.1rem;
}

.login-btn,.signup-btn {
  color: white;
  font-size: 1.1rem;
  margin-right: 1rem;
}

.banner {
  position: relative;
  top: -0.1rem;
  border-bottom: 10px solid tan;
  min-height: 40vh;
  object-fit: cover;
  opacity: .9;
}
.navbar-brand {
  font-size: 2rem !important;
  font-family: courgette, sans-serif;
  font-weight: 700 !important;
  margin-left: 1.5rem;
  color: white !important;
}

.nav-container {
  background-color: tan;
}

.courses-title {
  width: 100%;
}

.center{
  margin: auto;
}
.banner-quote {
  font-size: 2rem;
  color: white;
  position: relative;
  top: -33vh;
  font-family: cursive;
  margin-left: .6rem;
}

.quote-author{
  font-size: 1.2rem;
  color: tan;
  margin-left: 10%;
}

.banner-quote .emphasize1 {
  font-size: 3.2rem;
  margin-right: 1rem;
  color: tan;
}

.banner-quote .emphasize2 {
  font-size: 2.7rem !important;
  color: tan;
  
}

@media(min-width:670px){
  .banner-quote{
    max-width: 40vw;
  }
  .banner{
    min-height: 50vh;
  }

  .banner-quote{
    top: -43vh;
  }


}


@media(max-width: 670px){
  .nav-link, .login-btn, .search-btn{
    margin-left: auto !important;
    display: flex;
    justify-content: right;
    align-self: right;
    position: relative;
    right: 1rem;
  }
  .search{
    margin: .5rem auto
  }

  .login-btn, .signup-btn{
    right: 0rem;
  }

}

.login-body{
  background-image: url(./assets/img/Vector.svg);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

.card-container{
  position: relative;
  top: -10rem;
}
.card{
  margin: 10px;
  width: 29.5rem !important; 
  border-radius: 10px;
}

.body{
  position: relative;
  top: -10rem;
  display: flex;
  flex-direction: row;

}

.login-courses, .top-section{
  display: flex;
  max-width: 70vw;
  flex-wrap: wrap;
  flex-direction: row;
}
.login-courses h1{
  text-align: center !important;
  color: black;
  margin: auto;
  margin-bottom: 2rem;
  font-family: courgette;
}
.top-section{
  margin-bottom: 10rem;
}
.login-box{
  height: fit-content;
  width: 29vw;
  border: 1px solid tan;
  margin-top: 10px;
  margin-top: 0;
  padding-top: 0;
  border-radius: 10px
}

.login-text{
  text-align: center;
  font-size: 2rem;
  color: tan;
  margin-bottom: 3rem;
}
.login-description{
  margin-top: 2rem;
  font-size:1rem;
  color: black
}
@media(max-width: 670px){
  .login-courses, .top-section{
    flex-direction: column;
    max-width: 100vw;
  }

  .body{
    flex-direction: column-reverse;
  }

  .login-box{
    width: 90vw;
    margin:auto 5vw;
  }
}

.form-login{
  text-align: center;
  margin-bottom: 1rem;
}
.socials{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-btn{
  background-color: white !important;
  color: black !important;
}

.social-btn:hover{
  background-color: rgb(17, 130, 236) !important;
  color: white !important;
}

.social-btn.google:hover{
  background-color: red !important;
}

.social-btn:hover .fa{
  color: white !important;
}


.switchers{
  width: 100% !important;
  flex-direction: row;
  justify-content: space-between;
  
}

.switchers .switcher{
  width: 49.5%;
  border-radius: 0;
  padding-top: 1;
  margin-top: -.9em;
  border-radius: 7px;
}

.switchers .switcher:nth-of-type(1){
  margin-right: 1px;
}

.input-description{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}